* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}